body{
	font-family: 'Open Sans',sans-serif;
	background: rgb(237, 247, 250);
  
  background-size: 500px 1000px;
}
#container{
	width: 100%;
	height: 100%;
	margin: auto;
}
#calculator{
	width: 320px;
	height: 520px;
	background-color:rgba(35, 34, 34, 0.934);
	margin: 0 auto;
	margin-top: 7%;
	top: 20px;

	position: relative;
	border-radius: 5px;
	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#result{
	height: 120px;
}
#history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 10x;
	color: #919191;
}
#output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 30px;
  color: #eaedef;
}
#keyboard{
	height: 400px;
}
.operator, .number, .empty{
	width: 50px;
	height: 50px;
	margin: 15px;
	
	float: left;
	border-radius: 10%;
	border-width: 0;
	font-weight: bold;
	font-size: 25px;
}


.number {
	background-color: #eaedef;
}

.number, .operator{
	cursor: pointer;
}
.operator:active, .number:active{
	font-size: 10px;
}
.operator:focus, .number:focus, .empty:focus{
	outline: 0;
}
button:nth-child(1){
	font-size: 30px;
	background-color: red;
}
button:nth-child(2){
	font-size: 25px;
	background-color: red;
}
button:nth-child(3){
	font-size: 40px;
	background-color: #6e6b6b;
}
button:nth-child(4){
	font-size: 40px;
	background-color: #6e6b6b;
}
button:nth-child(8){
	font-size: 40px;
	background-color: #6e6b6b
}
button:nth-child(12){
	font-size: 40px;
	background-color: #6e6b6b;
}
button:nth-child(16){
	font-size: 40px;
	background-color:#6e6b6b;
}
button:nth-child(19){
	font-size: 40px;
	width: 130px;
	
  border-radius: 10%;
}
